#grandparent{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 300px;
    width: 300px;
    border: 2px solid blue;
    background-color: red;
}
#parent{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 200px;
    width: 200px;
    border: 2px solid deeppink;
    background-color: lightgreen;
}
#child{
    height: 100px;
    width: 100px;
    border: 2px solid aqua;
    background-color: palevioletred;
}